report-lab-2/lab2-report/lab-2-kyle-pontius.tgz
report-lab-2/lab2-report/report-kyle-pontius.aux
report-lab-2/lab2-report/report-kyle-pontius.dvi
report-lab-2/lab2-report/report-kyle-pontius.log
report-lab-2/lab2-report/report-kyle-pontius.synctex.gz
report-lab-2/lab2-report/report-kyle-pontius.tex
